@model List<CurrencyRate>

@{
    ViewData["Title"] = "Currency Rate";
    ViewBag.Date = @Model.Count > 0 ? Model[0].ExchangeDate : "--.--.----";
}

    <div class="rate-title">
    <h5>The exchange rate against the UAN of @ViewBag.Date</h5>
</div>
<form asp-controller="Home" asp-action="CurrencyRate">
    <p class="celendar">Select a date (Not earlier than today): <input type="date" name="date">
    <button type="submit">Search</button>
</form>
<table>
    <caption class="caption-col">
        Currency Rate
    </caption>
    <tr>
        <th>Сurrency Name</th> <th>Currency Code</th> <th>Rate</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Txt</td> <td>@item.Cc</td> <td>@Math.Round(item.Rate,3)</td>
        </tr>
    }
</table>