@model List<ExchangeHistory>

@{
    ViewData["Title"] = "Show Exchange";
}

@foreach (var item in Model)
{
    <ul class="list-group">
        <div class="h3">
            <li class="list-group-item active" aria-current="true">Service number #@item.Id</li>
        </div>
        <li class="list-group-item">User Id #@item.UserId</li>
        <li class="list-group-item">Rate of Exchange: @item.RateOfExchange</li>
        <li class="list-group-item">Current Currency Code: @item.CurrentCurrencyСС</li>
        <li class="list-group-item">Current Currency Value: @item.CurrentCurrencyValue</li>
        <li class="list-group-item">Desire Currency Code: @item.DesiredСurrencyСС</li>
        <li class="list-group-item">Desire Currency Value: @item.DesireCurrencyValue</li>
        <li class="list-group-item">Date of Exchange: @item.time</li>
    </ul>
}